<div class="container">
    <h1>Product Count</h1>
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
      {{#each data.data }}
    <tr>
        {{#each this}}
        {{#if this._id}}
        {{#if @first}}
        <td >{{this._id}}</td>
        {{/if}}
        {{/if}}
        {{/each}}

       {{#each this}}
        {{#if this.count}}
        <td>{{this.count}}</td>
        {{/if}}
        {{/each}}

    </tr>
    {{/each}}
           {{#if data.previous}}
    <a href="/list/count?page={{data.previous}}" class="btn btn-success mr-3">&lt; &lt;Back </a>
    {{/if}}
    {{#if data.nextLink}}
    <a href="/list/count?page={{data.nextLink}}" class="btn btn-success">Next>></a>
    {{/if}}
  </tbody>
</table>
</div>